<!--
  Generated template for the SelectorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eco 16 Calculator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      Country and Station
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Countries</ion-label>
        <ion-select [(ngModel)]="selectedCountry" (ionChange)="handleCountryChange()">
          <ion-option value="{{country}}" *ngFor="let country of countries">{{country}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="selectedCountry">
      <ion-item>
        <ion-label>Stations</ion-label>
        <ion-select [(ngModel)]="selectedStation" (ionChange)="handleStationChange()">
          <ion-option value="{{station}}" *ngFor="let station of stations">{{station}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <out-door-air [country]="selectedCountry" [station]="selectedStation" *ngIf="selectedCountry && selectedStation"
    (onValueReceived)="outdoorAirQuality=$event"></out-door-air>
  <limit-value [country]="selectedCountry" [station]="selectedStation" *ngIf="selectedCountry && selectedStation"
    (onValueReceived)="limitValue=$event"></limit-value>
  <supply-air [outdoorAirQuality]="outdoorAirQuality" *ngIf="selectedCountry && selectedStation" (onValueReceived)="supplyAirQuality=$event"></supply-air>
  <indoor-air [hidden]="!(selectedCountry && selectedStation && supplyAirQuality)" [supplyAirQuality]="supplyAirQuality"
    (onValueReceived)="indoorAirQuality=$event"></indoor-air>

  <ion-card>
    <ion-card-content>
      <button ion-button color="dark" (click)="reset()" type="button">Reset</button>
      <button ion-button id="generateGraph" (click)="handleGenerateGraphButtonClick()" *ngIf="outdoorAirQuality && supplyAirQuality && indoorAirQuality && limitValue">Generate
        Graph</button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title text-center>Developed by GBTS India</ion-title>
  </ion-toolbar>
</ion-footer>
