<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>PM Levels - {{stationName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <canvas #barCanvas height="500"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title text-center>Developed by GBTS India</ion-title>
  </ion-toolbar>
</ion-footer>