<ion-card>
  <ion-card-header>
    Indoor Air Quality
    <span float-right>µg/m³</span>
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>Room Type</ion-label>
      <ion-select [(ngModel)]="selectedRoomType" (ionChange)="handleRoomTypeChange()">
        <ion-option value="{{roomType}}" *ngFor="let roomType of roomTypes">{{roomType}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="selectedRoomType">
    <ion-item>
      <div class="row header">
        <div class="col">PM 10:
          <strong>{{PM10 | number:'1.1-1'}}</strong>
        </div>
        <div class="col">PM 2.5:
          <strong>{{PM2AndHalf | number:'1.1-1'}}</strong>
        </div>
        <div class="col">PM 1:
          <strong>{{PM1 | number:'1.1-1'}}</strong>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-card>