﻿@model Eco16ServiceWithEntityFramework.Models.AirQuality

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>AirQuality</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label"></label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>
                <input asp-for="Station" class="form-control" />
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberAndTypeOfMonitoringStations" class="control-label"></label>
                <input asp-for="NumberAndTypeOfMonitoringStations" class="form-control" />
                <span asp-validation-for="NumberAndTypeOfMonitoringStations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteOnConvertedPm10" class="control-label"></label>
                <input asp-for="NoteOnConvertedPm10" class="form-control" />
                <span asp-validation-for="NoteOnConvertedPm10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePm10" class="control-label"></label>
                <input asp-for="AveragePm10" class="form-control" />
                <span asp-validation-for="AveragePm10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePm25" class="control-label"></label>
                <input asp-for="AveragePm25" class="form-control" />
                <span asp-validation-for="AveragePm25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AveragePm1" class="control-label"></label>
                <input asp-for="AveragePm1" class="form-control" />
                <span asp-validation-for="AveragePm1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfMeasurement" class="control-label"></label>
                <input asp-for="YearOfMeasurement" class="form-control" />
                <span asp-validation-for="YearOfMeasurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
