﻿@model Eco16ServiceWithEntityFramework.Models.AirQuality

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AirQuality</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Station)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberAndTypeOfMonitoringStations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberAndTypeOfMonitoringStations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoteOnConvertedPm10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteOnConvertedPm10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AveragePm10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AveragePm10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AveragePm25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AveragePm25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AveragePm1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AveragePm1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOfMeasurement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOfMeasurement)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
