﻿@model AirQualityIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Air Quality</h2>

<form class="mb-2 row">
    <div class="col-4">
        <input asp-for="@Model.FilterString" class="form-control" placeholder="Enter Filter Text" />
    </div>
    <div class="col-2">
        <select class="form-control" asp-for="@Model.SelectedFilterType" asp-items="@Model.FilterTypes"></select>
    </div>
    <div class="col-1">
        <input type="submit" value="Filter" class="btn btn-secondary"/>
    </div>
    <div class="offset-4 col-1">
        <a asp-action="Create" class="btn btn-primary float-right">Create New</a>
    </div>
    <input type="hidden" asp-for="@Model.PageIndex" />
</form>
<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].CountryCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].Station)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].NumberAndTypeOfMonitoringStations)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].NoteOnConvertedPm10)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].AveragePm10)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].AveragePm25)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].AveragePm1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AirQualityList[0].YearOfMeasurement)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AirQualityList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Station)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberAndTypeOfMonitoringStations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoteOnConvertedPm10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AveragePm10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AveragePm25)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AveragePm1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearOfMeasurement)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        var prevDisabled = "";
        if (Model.PreviousPageIndex < 0)
        {
            prevDisabled = "disabled";
        }

        var nextDisabled = "";
        if (Model.NextPageIndex >= Model.MaxNextPage)
        {
            nextDisabled = "disabled";
        }
    }
    <div class="row mt-2">
        <a asp-action="Index" asp-route-pageIndex="@Model.PreviousPageIndex" asp-route-filterString="@Model.FilterString"
           class="btn btn-secondary mr-2 text-light @prevDisabled" asp-route-SelectedFilterType="@Model.SelectedFilterType">Previous</a>
        <a class="btn btn-primary text-light @nextDisabled" asp-route-filterString="@Model.FilterString"
           asp-action="Index" asp-route-pageIndex="@Model.NextPageIndex" asp-route-SelectedFilterType="@Model.SelectedFilterType">Next</a>
    </div>
</div>
