﻿@model Eco16ServiceWithEntityFramework.Models.SupplyAirFilterClass

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SupplyAirFilterClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label"></label>
                <input asp-for="ProductType" class="form-control" />
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilterClass" class="control-label"></label>
                <input asp-for="FilterClass" class="form-control" />
                <span asp-validation-for="FilterClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pm10" class="control-label"></label>
                <input asp-for="Pm10" class="form-control" />
                <span asp-validation-for="Pm10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pm25" class="control-label"></label>
                <input asp-for="Pm25" class="form-control" />
                <span asp-validation-for="Pm25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pm1" class="control-label"></label>
                <input asp-for="Pm1" class="form-control" />
                <span asp-validation-for="Pm1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyClass" class="control-label"></label>
                <input asp-for="EnergyClass" class="form-control" />
                <span asp-validation-for="EnergyClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
