page-login {
  // background-image: url('/assets/imgs/GSIN%20Building%20Pic.jpg')
  background-color: black
}

.head-image {
  width: 100px;
  vertical-align: middle;
  display: inline-block;
}

.main-card {
  text-align: center
}

.logo_heading {
  color: #008244;
  font-size: 19.54px;
  margin: 16px 0 0;
  font-weight: 800;
}
