<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eco16 Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="main-card">
    <ion-card-content>
      <ion-card-title class="logo_heading">
        Eco16 Calculator Login
      </ion-card-title>
      <ion-list>

        <ion-item>
          <ion-label floating>Email ID</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>


  <div padding>
    <button ion-button class="mhGreenBackground" (click)="login()">Login</button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Developed by GBTS India</ion-title>
  </ion-toolbar>
</ion-footer>
