﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-5">
    <div class="jumbotron">
        <h1>Eco16 Calculator Admin</h1>
        <p>
            This website is for updating the database.
        </p>
    </div>
</div>
