<!-- Generated template for the SupplyAirComponent component -->
<ion-card>
  <ion-card-header>
    Limit Value
    <span float-right>µg/m³</span>
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>Limit Value</ion-label>
      <ion-select [(ngModel)]="selectedStandard" (ionChange)="handleStandardChange()">
        <ion-option value="{{standard}}" *ngFor="let standard of standards">{{standard}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="selectedStandard">
    <ion-item>
      <div class="row header">
        <div class="col">PM 10:
          <strong>{{limitValuePM10 | number:'1.1-1'}}</strong>
        </div>
        <div class="col">PM 2.5:
          <strong>{{limitValuePM2AndHalf | number:'1.1-1'}}</strong>
        </div>
        <div class="col" *ngIf="limitValuePM1">PM 1:
          <strong>{{limitValuePM1 | number:'1.1-1'}}</strong>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-card>