<!-- Generated template for the OutDoorAirComponent component -->
<ion-card>
  <ion-card-header>
    Outdoor Air Quality
    <span float-right>µg/m³</span>
  </ion-card-header>
  <ion-card-content>
    <h3>Annual average</h3>
    <div class="row header">
      <div class="col">PM 10:
        <strong>{{pm10 | number:'1.1-1'}}</strong>
      </div>
      <div class="col">PM 2.5:
        <strong>{{pmTwoAndHalf | number:'1.1-1'}}</strong>
      </div>
      <div class="col">PM 1:
        <strong>{{pm1 | number:'1.1-1'}}</strong>
      </div>
    </div>
  </ion-card-content>
</ion-card>