<!-- Generated template for the SupplyAirComponent component -->
<ion-card>
  <ion-card-header>
    Supply Air Quality
    <span float-right>µg/m³</span>
  </ion-card-header>
  <ion-list>
    <ion-item>
      <ion-label>Product</ion-label>
      <ion-select [(ngModel)]="selectedProduct" (ionChange)="handleProductChange()">
        <ion-option value="{{product}}" *ngFor="let product of products">{{product}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="selectedProduct">
    <ion-item>
      <ion-label>Filter Class</ion-label>
      <ion-select [(ngModel)]="selectedFilterClass" (ionChange)="handleSelectedFilterClassChange()">
        <ion-option value="{{filterClass}}" *ngFor="let filterClass of filterClasses">{{filterClass}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="selectedProduct && selectedFilterClass">
    <ion-item>
      <div class="row header">
        <div class="col">PM 10:
          <strong>{{PM10 | number:'1.1-1' }}</strong>
        </div>
        <div class="col">PM 2.5:
          <strong>{{PM2AndHalf | number:'1.1-1' }}</strong>
        </div>
        <div class="col">PM 1:
          <strong>{{PM1 | number:'1.1-1' }}</strong>
        </div>
      </div>
      <div class="row header">
        <div class="col" *ngIf="EnergyClass">kWh/year/full module:
          <strong>{{EnergyClass | number:'1.0-1'}}</strong>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-card>