﻿@model Eco16ServiceWithEntityFramework.Models.LimitStandards

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LimitStandards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Standard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Standard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pm10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pm10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pm25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pm25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pm1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pm1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
