﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eco16</title>

    <environment include="Development">
        <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Eco16 Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" id="AirQualities"><a asp-area="" asp-controller="AirQualities" asp-action="Index" asp-route-pageIndex="0" asp-route-filterString="" asp-route-SelectedFilterType="Country" class="nav-link">Air Quality</a></li>
                <li class="nav-item" id="SupplyAirFilterClasses"><a asp-area="" asp-controller="SupplyAirFilterClasses" asp-action="Index" class="nav-link">Products</a></li>
                <li class="nav-item" id="LimitStandards"><a asp-area="" asp-controller="LimitStandards" asp-action="Index" class="nav-link">Limit Standards</a></li>
                <li class="nav-item" id="RoomTypes"><a asp-area="" asp-controller="RoomTypes" asp-action="Index" class="nav-link">Room Type</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    @*<partial name="_CookieConsentPartial" />*@

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Eco16 Calculator</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function () {
            var controller = window.location.pathname;
            switch (controller) {
                case "/AirQualities": $("#AirQualities").addClass("active"); break;
                case "/SupplyAirFilterClasses": $("#SupplyAirFilterClasses").addClass("active"); break;
                case "/LimitStandards": $("#LimitStandards").addClass("active"); break;
                case "/RoomTypes": $("#RoomTypes").addClass("active"); break;
                case "/Identity/Account/Login": $("#Login").addClass("active"); break;
                case "/Identity/Account/Register": $("#Register").addClass("active"); break;
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
