﻿@model IEnumerable<Eco16ServiceWithEntityFramework.Models.RoomType>

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to Room Type</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomType1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pm10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pm25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pm1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pm10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pm25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pm1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
